// Variables
@import "../variables";

// Personnalisation
@mixin form_field_checkbox-collection {
  .FieldCheckboxCollection {
     &:focus {
       outline: none;
     }
  }

  .FieldCheckboxCollection-itemInput {
    display: none;
    cursor: pointer;

    + .FieldCheckboxCollection-itemLabel {
      position: relative;
      color:$form-field-checkbox-collection-label-color;
      font-size: $form-field-checkbox-collection-label-font-size;
      display: inline-block;
      width: auto;
      cursor: pointer;
      padding: 3px 0 0 22px;
      user-select: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: " ";
        vertical-align: middle;
        margin-top: 5px;
        height: 14px;
        width: 14px;
        margin-right: 5px;
      }

      &::after {
        position: absolute;
        top: 1px;
        display: block;
        content: " ";
        left: 4px;
        margin-top: 8px;
        height: 8px;
        width: 8px;
        transform: scale(0);
        transition: transform 200ms ease-in-out;
      }
    }

    &[aria-invalid="true"] + .FieldLabel::before {
      border: 1px solid $form-notice-error-border-color;
    }

    &:checked + .FieldCheckboxCollection-itemLabel::after {
      transform: scale(1);
      transition: transform 200ms ease-in-out;
    }

    &:disabled + .FieldCheckboxCollection-itemLabel {
      opacity: 0.5;

      &::before {
        opacity: 0.5;
      }
    }
  }

  .FieldCheckboxCollection-itemInput + .FieldCheckboxCollection-itemLabel::after {
    background-color: $form-field-checkbox-collection-checked-color;
  }

  .FieldCheckboxCollection[aria-invalid="true"] .FieldCheckboxCollection-itemInput + .FieldCheckboxCollection-itemLabel::before {
    border: 1px solid $form-notice-error-border-color;
  }

  .FieldCheckboxCollection-itemInput + .FieldCheckboxCollection-itemLabel::before {
    border: 1px solid $form-field-checkbox-collection-border-color;
    background-color: $form-field-checkbox-collection-background-color;
  }
}